name: R CMD check hewr

on:
  pull_request:
    branches: [main]
    paths:
      # Explicitly include paths that should trigger the workflow
      - 'hewr/**'
      - '.github/workflows/r-cmd-check.yaml'
      - '.github/actions/setup-hewr.yaml'
  push:
    branches: [main]
    paths:
      # Explicitly include paths that should trigger the workflow
      - 'hewr/**'
      - '.github/workflows/r-cmd-check.yaml'
      - '.github/actions/setup-hewr.yaml'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  check-hewr:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    runs-on:  ${{matrix.os}}
    steps:
    - uses: actions/checkout@v6

    - name: Set up R with hewr
      uses: ./.github/actions/setup-hewr

    - name: "Check hewr package"
      uses: r-lib/actions/check-r-package@v2
      with:
        working-directory: hewr
