name: Deploy Dagster Code

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    environment: production
    name: Run Dagster job
    steps:
      - name: Run job
        uses: CDCgov/cfa-actions/runner-action@v1.5.0
        with:
          github_app_id: ${{ secrets.CDCENT_ACTOR_APP_ID }}
          github_app_pem: ${{ secrets.CDCENT_ACTOR_APP_PEM }}
          script: |
            echo "Running update script"
            uv run \
              https://raw.githubusercontent.com/CDCgov/cfa-dagster/refs/heads/main/scripts/update_code_location.py \
              --registry_image cfaprdbatchcr.azurecr.io/pyrenew-hew:dagster_latest
